<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server-azure.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- NodeInspector for debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server-azure.js\/debug[\/]?" />
        </rule>
        
        <!-- Serve static files from public directory -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        
        <!-- API routes -->
        <rule name="API Routes">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="server-azure.js"/>
        </rule>
        
        <!-- Socket.IO routes -->
        <rule name="Socket.IO Routes">
          <match url="^socket.io/(.*)" />
          <action type="Rewrite" url="server-azure.js"/>
        </rule>
        
        <!-- All other routes go to the Node.js app -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server-azure.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />
    
    <!-- IIS Node.js configuration -->
    <iisnode
      nodeProcessCommandLine="node"
      debuggingEnabled="false"
      logDirectory="iisnode"
      watchedFiles="*.js;node_modules\*"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="false"
      node_env="production"
    />
  </system.webServer>
</configuration> 